.button {
    padding: 10px 16px;
    border: 1px solid #1677ff;
    border-radius: 6px;
    cursor: pointer;
    background-color: #1677ff;
    color: white;
    font-size: 16px;
}

.button:hover {
    background-color: #0958d9;
}

.button:focus {
    outline: 2px solid #111827;
    outline-offset: 2px;
}

.danger {
    border-color: #fecaca;
    background-color: #fef2f2;
    color: #b91c1c;
}

.danger:hover {
    border-color: #fbb1b1;
    background-color: #f9e1e1;
    color: #b91c1cde;
}

.outline {
    background-color: transparent;
    border-color: #d1d5db;
    color: black;
}

.outline:hover {
    background-color: transparent;
    border-color: #c7d0dd;
}

.text {
    background-color: transparent;
    border: none;
    color: black;
}

.text:hover {
    background-color: transparent;
    border: none;
    color: black;
}

.small {
    padding: 6px 12px;
    font-size: 14px;
}

.middle {
    padding: 10px 16px;
    font-size: 16px;
}

.large {
    padding: 12px 20px;
    font-size: 18px;
}